* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  background-color: #19171d;
  color: #d1d2d3;
}

header {
  background-color: #1a1d21;
  text-align: center;
  padding: 2rem;
}

.info {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info h2 {
  background-color: #d1d2d3;
  color: #212023;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.info h3 {
  font-size: 2rem;
  margin: 2rem;
  background-color: rgba(72, 255, 255, 0.3);
  border-radius: 2rem;
  padding: 1rem 1.6rem;
  color: #a0a0a2;
}

img {
  width: 60rem;
}

.bike {
  background-color: rgba(209, 210, 211, 0.4);
  padding: 1rem;
  border-radius: 2rem;
  transition: background-color 0.5s;
  cursor: pointer;
}

.bike:hover {
  background-color: rgba(209, 210, 211, 0.6);
}
