header {
    background-color: aquamarine;
}

h2 {
    background-color: rgb(6, 46, 120);
    -webkit-text-fill-color:rgba(120, 193, 214, 0.348);
}

h3 {
    background-color: rgba(130, 9, 9, 0.348);
    -webkit-text-fill-color: rgb(13, 62, 36)  ;
}

