header {
    background-color: peachpuff;
    text-align: center;
    padding: 15px;
}

div {
    text-align: center;
}

h2, h3 {
    background-color: peru;
    color: antiquewhite;
    padding: 15px 0;
}